<%= form_with url: bulk_upload_create_path, method: :post do |form| %>
  <div class="form-group">
    <%= form.label :schedule_yml, "Please copy and paste your schedule.yml file below." %>
    <%= form.text_area :schedule_yml, rows: 16, class: "form-control w-full" %>
  </div>

  <div>
    <%= form.button button_text(form.send(:submit_default_value)), class: "btn btn-primary" %>

    <%= link_to t("cancel"), cron_monitors_path, class: "btn btn-white" %>
  </div>
<% end %>
