<div id="<%= dom_id cron_monitor %>">
  <% if cron_monitor.check_ins.blank? %>
    <%= render partial: "cron_monitors/set_up_alert", locals:{ title: cron_monitor.title, check_in_url: check_in_url(cron_monitor.id) } %> 
  <% end %>

  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Check In URL</p>
    <%= check_in_url(cron_monitor.id) %>
  </div>

  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Interval</p>
    <%= cron_monitor.interval %>
  </div>

  <% if cron_monitor.notes.present? %>
    <div class="mb-4">
      <p class="text-sm font-medium text-gray-500">Notes</p>
      <%= cron_monitor.notes %>
    </div>
  <% end %>

  <% if cron_monitor.check_ins.present? %>
    <div class="mb-4">
      <p class="text-sm font-medium text-gray-500">Last Checked In At</p>
      <%= cron_monitor.last_checked_in_at %>
    </div>
  <% end %>
</div>
