<div id="cron_monitor_index_<%= cron_monitor.id %>">
  <div class="flex flex-row">
    <div class="justify-items-start">
      <div>
        <%= status_icon(cron_monitor.aasm_state) %>
        <strong><%= cron_monitor.title %></strong>
      </div>
      <p class="text-sm font-medium text-gray-500"><%= cron_monitor.interval %></p>
    </div>
    <div class="ml-auto">
      <%= link_to "View", cron_monitor, class: "btn btn-white" %>
    </div>
  </div>
</div>
