<%= content_for :title, "Cron Monitors" %>
<%= turbo_stream_from :cron_monitors %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <div>
      <h1 class="h3">Cron Monitors</h1>

      <div class="text-sm font-medium">
        <!-- <span class="text-gray-500">Sort by:</span> -->
        <!-- TODO: currently down monitors are always on top -->
        <!-- <%= sortable @cron_monitors, :title, "Title", class: "text-gray-700 mr-1" %> -->
        <!-- TODO: sort intervals intelligently and not alphabetically -->
        <!-- <%= sortable @cron_monitors, :interval, "Interval", class: "text-gray-700 mr-1" %> -->
      </div>
    </div>

    <div>
      <%= link_to "Bulk Upload", bulk_upload_path, class: "btn btn-white" %>
      <%= link_to t("shared.scaffold.new.title", model: "Cron Monitor"), new_cron_monitor_path, class: "btn btn-white" %>
    </div>
  </div>

  <div class="flex flex-row justify-between mb-2">
    <div class="text-center px-6">
      <strong>Monitor</strong>
    </div>
    <div class="text-center px-6 hidden lg:flex">
      <strong>Check In URL</strong>
    </div>
    <div class="text-center px-6">
      <strong>Actions</strong>
    </div>
  </div>

  <%= tag.div id: ("cron_monitors" if first_page?), class: "bg-white rounded-md shadow p-6 space-y-8" do %>
    <%= render partial: "cron_monitors/index", collection: @cron_monitors, as: :cron_monitor, cached: true %>

    <div class="hidden only:flex flex-col items-center justify-between lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="mb-4 h3">Create your first Cron Monitor</p>
        <%= link_to t("shared.scaffold.new.title", model: "Cron Monitor"), new_cron_monitor_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <% if @pagy.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
